.footer {
  background-color: rgb(19, 36, 48);
}

.footer_context {
  margin-top: 100px;
  display: grid;
  background-image: url(../assets/footer-bg.png);
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  color: rgb(245, 245, 245);
  padding: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer__content img {
  height: 50px;
}

/* .footer_firma {
  display: flex;
} */

@media only screen and (max-width: 600px) {
  .footer_context {
    display: flex;
    flex-wrap: wrap;
  }
}
